# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv('../WeatherPy/output_data/cities.csv')
city_data_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,mataura,0,NZ,1592443006,76,-46.19,168.86,44.29,2.73
1,1,castro,47,BR,1592442893,95,-24.79,-50.01,55.49,5.23
2,2,hilo,1,US,1592443004,58,19.73,-155.09,84.20,10.29
3,3,sakata,75,JP,1592443335,54,38.92,139.85,78.80,3.36
4,4,taikang,10,CN,1592443335,60,46.83,124.42,67.17,3.80

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# gmaps Configuration
gmaps.configure(api_key=g_key)

# lat, lng store in locations
locations = city_data_df[["Lat", "Lng"]]

# Humidity store in humidity
humidity = city_data_df["Humidity"]

# Heatmap plot
fig = gmaps.Map()

# heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add heat layer
fig.add_layer(heat_layer)
fig

Map(configuration={'api_key': 'AIzaSyCvYZG1m6_rstAi4BGEpns86_79Kkl9OrM'}, data_bounds=[(-41.81207260252212, -1â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
fitting_city_data = city_data_df
fitting_city_data = fitting_city_data.loc[(fitting_city_data["Max Temp"] < 80) & (fitting_city_data["Max Temp"] > 70)]
fitting_city_data = fitting_city_data.loc[fitting_city_data["Wind Speed"] < 10]
fitting_city_data = fitting_city_data.loc[fitting_city_data["Cloudiness"] == 0]
fitting_city_data = fitting_city_data.dropna()
fitting_city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
128,128,avarua,0,CK,1592443004,73,-21.21,-159.78,73.40,8.05
278,278,namibe,0,AO,1592443006,56,-15.20,12.15,71.33,3.94
295,295,kerman,0,IR,1592443378,15,30.28,57.08,75.20,6.93
319,319,sakakah,0,SA,1592443403,22,29.97,40.21,78.80,8.05
344,344,murgab,0,TM,1592443038,37,37.50,61.97,71.60,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = fitting_city_data

# params dictionary to update each iteration
params = {
    "keyword": "Hotel",
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    # get lat, lng from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    
    params["location"] = f"{lat},{lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------------------------------")

Retrieving Results for Index 128: avarua.
Closest hotel is The Edgewater Resort and Spa.
------------------------------------
Retrieving Results for Index 278: namibe.
Closest hotel is Hotel ibis Styles Iu Namibe.
------------------------------------
Retrieving Results for Index 295: kerman.
Closest hotel is Akhavan Hotel.
------------------------------------
Retrieving Results for Index 319: sakakah.
Closest hotel is Raoum Inn Hotel.
------------------------------------
Retrieving Results for Index 344: murgab.
Missing field/result... skipping.
------------------------------------
Retrieving Results for Index 347: gat.
Closest hotel is Desert Gat.
------------------------------------
Retrieving Results for Index 472: maragogi.
Closest hotel is Salinas do Maragogi All Inclusive Resort.
------------------------------------
Retrieving Results for Index 505: mokhsogollokh.
Missing field/result... skipping.
------------------------------------
Retrieving Results for Index 545: jinchang.
Closest hotel is Jinchuan Hotel.
------------------------------------

In [6]:
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
128,128,avarua,0,CK,1592443004,73,-21.21,-159.78,73.40,8.05,The Edgewater Resort and Spa
278,278,namibe,0,AO,1592443006,56,-15.20,12.15,71.33,3.94,Hotel ibis Styles Iu Namibe
295,295,kerman,0,IR,1592443378,15,30.28,57.08,75.20,6.93,Akhavan Hotel
319,319,sakakah,0,SA,1592443403,22,29.97,40.21,78.80,8.05,Raoum Inn Hotel
344,344,murgab,0,TM,1592443038,37,37.50,61.97,71.60,4.70,NaN
347,347,gat,0,IL,1592443402,50,31.61,34.76,75.99,3.00,Desert Gat
472,472,maragogi,0,BR,1592443391,84,-9.01,-35.22,75.09,7.52,Salinas do Maragogi All Inclusive Resort
505,505,mokhsogollokh,0,RU,1592443430,33,61.47,128.92,75.43,9.93,NaN
545,545,jinchang,0,CN,1592443435,17,38.50,102.17,78.96,5.28,Jinchuan Hotel

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)
fig.add_layer(markers)
fig.add_layer(hotel_layer)

# Display figure
fig

Map(configuration={'api_key': 'AIzaSyCvYZG1m6_rstAi4BGEpns86_79Kkl9OrM'}, data_bounds=[(-41.81207260252212, -1â€¦